@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body { 
  font-family: "Rubik", sans-serif;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post-tag {
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: red;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.tag-list {
  margin-bottom: 5px;
  font-size: 15px;
}

.title-logo {
  max-width: 75%;
}

.post-info {
  content: '';
  display: table; 
  clear: both;
}

.post-tag {
  
}

.post-h3 {
  margin-bottom: 0px;  
}

.post-image {
 float: left; 
  max-width: 25%; 
  margin-right: 10px 
}
